.admin.layout {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.admin .sidebar {
    flex: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

.admin .sidebar .head {
    display: flex;
    align-items: center;
    gap: 24px;
}

.admin .sidebar .head img[alt="logo_fz"] {
    width: 128px;
}

.admin .sidebar .head .title {
    display: flex;
    flex-direction: column;
}

.admin .sidebar .head .title span {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-transform: uppercase;
}

.admin .sidebar .head .title span.gradient {
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    background: linear-gradient(91.92deg, #F7A92F 0%, #F16B1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.admin .sidebar .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.admin .sidebar .menu li {
    list-style: none;
}

.admin .sidebar .menu li a.nav-link {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px 16px;
    transition: 0.2s all ease-in-out;
}

.admin .sidebar .menu li a.nav-link.active,
.admin .sidebar .menu li a.nav-link:hover {
    background-color: var(--fzbg-2);
    border-radius: 8px;
}

.admin .sidebar .menu li a.nav-link span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.admin .sidebar .menu li a.nav-link svg.icon {
    width: 24px;
    height: 24px;
}

.admin .body .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin .body {
    flex: 5;
    padding: 48px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.admin table {
    width: 100%;
}

.admin table thead {
    background: var(--fzbg-2);
    border: 1px solid var(--fzbg-1);
    width: 100%;
    overflow: hidden;
}

.admin table thead th {
    padding: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.admin table tbody {
    margin: 24px 0;
}

.admin table tbody tr:last-child {
    border: none;
}

.admin table tbody tr {
    border-bottom: 1px solid var(--fzbg-1);
}
.admin table tbody tr td {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
}

.admin .pagination {
    width: 100%;
}

.admin .pagination ul {
    display: flex;
    gap: 12px;
    margin-top: 0;
    width: 100%;
    justify-content: flex-end;
}

.btn.blue-gradient {
    background: var(--gradient-blue);
    color: white !important;
}
.btn.blue-gradient:not(.icon) svg {
    color: #fff;
    fill: #fff;
}
.btn.rounded-tiny {
    border-radius: 4px !important;
}
.btn.tiny {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}