h1, h2, h3, h4, h5, h6 {
    margin: 0em 0 0.5rem;
    line-height: 1.33;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.67em;
}
blockquote, dl, ol, p, pre, ul {
    margin: 1.2em 0;
}
blockquote {
    border-left: 6px solid var(--text-inactive);
    padding-left: 12px;
    border-radius: 3px;
}